.plusimageapply{
 list-style-image:url(../Images/plus.png);
 cursor:pointer;
 }
.minusimageapply{
 list-style-image:url(../Images/minus.png);
 cursor:pointer;
 }
&nbsp;
.selectedimage{
 list-style-image:url(../Images/selected.png);
 cursor:pointer;
 }