{% extends "base.html" %}
{% block content %}


<!-- Body
================================================== -->
<section id="body">
  <div class="page-header">
    <h1>What is it?</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span6">
      <h3>A cloud backup solution for your enterprise workstations.</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
    </div>
    <div class="span4">  
    	<div class="jumbotron">
    		<a class="btn btn-info btn-large" href="{% url registration_register %}">Register and Download</a>
    	</div>
    </div>

  </div>


  <div class="page-header">
    <h1>Why Fishtank?</h1>
  </div>
  
  <div class="row">

    <div class="span6">
      <h3>Because it's awesome.</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
    </div>

  </div>  

</section>


{% endblock %}