{% extends "base.html" %}
{% block content %}

<div class="row">

	<div class="span2">
		{% include "content/account/nav_left.html" %}
	</div>

	<div class="span1"> </div>


	<div class="span4">
	<h4>Files available for restore:</h4>
		<div id="my_tree"></div>	
	</div>
	<div class="span3">
	<h4>Restore these files:</h4>
		<div id="my_checkout"></div>	
	</div>
</div>


<!-- just temporarily giving some space. -->
<div class="row">
<br />
<br />
<br />
<br />
<br />
<br />
</doc>




{% endblock %}